# This is Git's per-user configuration file.
[user]
	name = oky-123
	email = oky123.ia@gmail.com
[core]
	editor = nvim
[alias]
	ps = !git push origin `git rev-parse --abbrev-ref HEAD`
	pl = !git pull origin `git rev-parse --abbrev-ref HEAD`
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	diffw = diff --word-diff
	difff = diff --name-only
	co = checkout
	br = branch
	st = status
[color]
	diff = auto
	status = auto
	branch = auto
